---
layout: home
---
{% include popup.html %}
<!-- Page Content -->
<div class="home">
	<div class="bg"></div>
	<div class="banner">
		<h1><span>Knox &amp; Surrounding</span></h1>
		<p><span>We buy houses in Knox and surrounding counties, fast!</span></p>
	</div>
	<div class="white-back">
		<div class="wrapper">
			<div class="services grid">
				<h1>Welcome to Vol Homes</h1>
				<h3>We can help you:</h3>
				<div class="unit one-third"><i class="fa fa-home fa-5x"></i><br /><p>Sell your home fast!<p></div>
				<div class="unit one-third"><i class="fa fa-usd fa-5x"></i><br /><p>Get a fair price</p></div>
				<div class="unit one-third"><i class="fa fa-check fa-5x"></i><br /><p>Make it easy</p></div>
			</div>

			<div class="home-images">
      				<h2><span>Any Condition</span></h2>
				<img src="/assets/images/home/2.jpg"/>
				<p><span>We will buy your house even if it needs numerous costly repairs.</span></p>
			</div><br />

			<div class="home-images">
      				<h2><span>No Commission</span></h2>
				<img src="/assets/images/home/3.jpg"/>
				<p><span>We are not a brokers, realtors, or agents. This means we will never charge you a commission when buying your property.</span></p>
			</div><br />

			<div class="home-images">
				<h2><span>Properties</span></h2>
				<img src="/assets/images/home/4.jpg"/>
				<p><span>Make sure to keep up with us on Facebook and Twitter so that you'll get instant notification when we post a newly available property!</span></p>
			</div><br />

			<div class="home-images">
				<h2><span>Freedom</span></h2>
				<img src="/assets/images/home/5.jpg"/>
				<p><span>Don't carry your property burdens another inch. Get you Free Report on How To Stop Foreclosure</span></p>
			</div><br />
			
			{% include markdown.html file="_home/bottom_of_page" %}
		</div>
	</div>
</div>
