<footer class="site-footer white-back">
  <div class="inline-list">
    <ul>
      <!-- Social -->
      {% assign socials = site.data.socials %}
      {% for social in socials %}
      {% if social.show == true %}
      <li>
        <a href="{{social.site}}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{social.icon}} fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      {% endif %}
      {% endfor %}
      <!-- RSS -->
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Meta -->
  <div class="footer-meta">
    <ul>
      <li class="editable"><i class="fa fa-info-circle"></i> Information For <a href="{{ site.baseurl }}/investors">Real Estate Investors</a></li>
      <li class="editable"><i class="fa fa-info-circle"></i> Information For <a href="{{ site.baseurl }}/cash-buyers">Cash Buyers</a></li>
      <li><i class="fa fa-copyright"></i> 2014-{{ site.time | date: '%Y' }} {{ site.author }}</li>
      <li>This site is <a href="http://daveaseeman.com/freelance"><em>Seemingly</em> <strong>Creative</strong></a></li>
    </ul>
  </div>
</footer>
