<script>
setTimeout(function(){
  swal({
    title: 'How can we help?',
    text: 'We can help you:',
    html:  '<br><br><a class="popup-link" href="/sell-your-house/"><div class="button button-brand" style="color:white;"> Sell my house </a></div><br><br>' + '<a class="popup-link" href="/cash-buyers/"><div class="button button-brand" style="color:white;"> Buy a house</a></div><br><br>' + '<a class="popup-link" href="/investors/"><div class="button button-brand" style="color:white;"> Invest Cash </a></div><br>',
    type: 'info',
    confirmButtonText: 'None of these',
    closeOnConfirm: false
  },
  function() {
    swal(
      'Thats okay!',
      'We will be here when you need us.',
      'error',
      'None of these'
    );
  });
}, 5000);
</script>
