@mixin center {
  margin: 0 auto;
  text-align: center;
}

@mixin meta {
  color: $gray-color;
  font-size: $small-size;
  ul {
    list-style-type: none;
    li {
      display: block;
    }
  }
}

.collapse{
  display:inline-block;
}
.collapse + input{
  display:none;
}
.collapse + input + *{
  display:none;
}
.collapse+ input:checked + *{
  display:inline-block;
}

.inline-list {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
    }
  }
}

hr {
  width: 25%;
  margin: 0 auto;
  margin-bottom: $spacing-unit*1.2;
  margin-top: $spacing-unit;
}

// .site-intro {
//   @include center;
//   p {
//     @include meta;
//   }
// }

.banner {
  height: 500px;
  span {
    color: $back-color;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
  }
  h1 {
    padding-top: 200px;
    @include center;
    margin: $spacing-unit/2;
  }
  p {
    @include center;
    margin: $spacing-unit/2;
  }
  @include media-query($on-laptop) {
    span {
    }
    h1 {
      padding-top: 100px;
    }
    p {
    }
  }
}

.white-back {
  background-color: $back-color;
}

.bg {
  background-image: url(/assets/images/home/b.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  -webkit-transform: translateZ(0);
  pointer-events: none;
}

.services {
  text-align: center;
  .fa-home, .fa-usd, .fa-check {
    color: $brand-color;
  }
}

.home-images {
  position: relative;
  width: 100%; /* for IE 6 */
  text-align: right;

  h2 {
    color: $brand-color;
    font-weight: $small-weight;
    position: absolute;
    bottom: 40%;
    right: 5%;
    width: 100%;
  }

  p {
    position: absolute;
    color: $back-color;
    text-align: left;
    font-size: $body-size;
    font-weight: $small-weight;
    bottom: 5%;
    right: 5%;
    width: 100%;
  }

  span {
    display:inline-block;
    float: right;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
  }
  
  @include media-query($on-palm) {
    h2 {
      text-align: left;
      position: relative;
    }
    p {
      position: relative;
      margin: 0 auto;
      text-align: center;
      color: $gray-color;
      border: 1px solid $gray-color;
      padding-bottom: 10px;
    }
    span {
      text-align: left;
      float: none;
      background: $back-color;
    }
  }
}
