/**
* Site footer
*/

.site-footer {
  border-top: 3px solid $brand-color;
  padding: $spacing-unit;
  font-size: $small-size;
  @extend .center;
  a {
    color: $brand-color;
  }
}

.footer-meta {
  ul {
    list-style-type: none;
  }
  li {
    padding-top: 5px;
  }
}
