---
layout: default
---
<div class="home">
  <div class="post">
    
    <header class="post-header">
      <h2>{{ page.title }}</h2>
      <details class="post-meta">
        {% if page.date %}Listed on {{ page.date | date: "%b %-d, %Y" }}{% endif %}<br>
        {% if page.price %}Priced at {{ page.price }}{% endif %}<br>
        {% if page.sold %}SOLD{% elsif page.sold == false %}FOR SALE{% else %}{% endif %}
      </details>
    </header>

    <article class="post-content">
      {{ content }}
    </article>
    
    <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/{{page.mode}}?key={{site.mapkey}}&q={{page.address | replace: " ", "+" }}" allowfullscreen"></iframe>

  </div>
</div>
